# commands
invoke==2.2.0

# pre-commit
pre-commit==4.0.1

# testing
pytest==8.3.4
coverage==7.6.10

# linting
ruff==0.9.1

# docs
mkdocs==1.6.1
mkdocs-material==9.5.49
mkdocstrings-python==1.13.0

# check pip
pipreqs==0.5.0

# advanced code coverage
pytest-cov==6.0.0

# dvc
dvc==3.59.0
dvc-gs==3.0.1